appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.3
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
decorator==4.1.2
Django==1.11.29
django-localflavor==1.5.2
enum34==1.1.6
get==0.0.0
idna==2.6
ipython==5.4.1
ipython-genutils==0.2.0
lxml==3.8.0
oauthlib==2.0.2
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
post==0.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
public==0.0.0
pycparser==2.18
Pygments==2.2.0
PyJWT==1.5.2
python-openid==2.2.5
pytz==2017.2
query-string==0.0.0
request==0.0.0
requests==2.18.4
requests-oauthlib==0.8.0
scandir==1.5
setupfiles==0.0.50
simplegeneric==0.8.1
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
